.btn {
    &,
    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all, 0.2s;
        position: relative;

        // Styles for the <button> tags.
        border: none;
        cursor: pointer;

    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

        &::after {
            transform: scaleX(1.5) scaleY(1.8);
            opacity: 0;
        }
    }
    &:focus,
    &:active {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10rem;
        z-index: -1;
        transition: all 0.4s;
    }





    &--animated {
        animation: move-in-bottom ease-in 0.5s 0.75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {

    &:visited,
    &:link {
        text-decoration: none;
        color: $color-primary;
        display: inline-block;
        border-bottom: 1px solid $color-primary;
        padding: 1px;
        text-transform: capitalize;
        transition: text-shadow 0.2s;
    }



    &:hover {
        transition: text-shadow transform 1s;
        text-shadow: 2px 10px 10px $color-primary;
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(0);
        text-shadow: 0 3px 10px $color-primary;
    }
}